@import '../../style-dictionary-dist/variables.scss';

.heading-text {
    font-size: $token-font-size-sm;
    font-family: $token-font-family-highlight;
    font-weight: $token-font-weight-bold;
    line-height: $token-line-height-distant;
    margin-bottom: $token-spacing-size-xxxs;
    color: $token-neutral-color-1;
}